$screen-md: "min-width: 768px";

.input {
  max-height: 2.5em;
}

.descriptionText {
  display: flex;
  gap: 1em;
}

.icon {
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 1.5em;
  display: block;
  padding: 0.3em;
}

.iconSuccess {
  background-color: green;
}

@media ($screen-md) {
  .validatorWrapper {
    display: flex;
    gap: 2em;
    align-items: center;
  }
}
